<!DOCTYPE html>

{% load static %}

<html>
<head>
  <title>
    hello world
  </title>
</head>
<body>
<table border="0" width="100%" >
  <tr>
    <td colspan="1" style="color:#0000FF;font-size:10px;">
      欢迎来到我的世界
    </td>
    <td>
      <table border="0" width="750">
        <tr>
          <td align="center">
      <a href="{% url 'app_1:dayingaijin' %}">留言</a>
    </td>
    <td align="center">
      <a href="{% url 'app_1:upload' %}">上传</a>
  </td>
    <td>
      <embed src="{% static 'sound/dream_it_possible.mp3' %}" loop="2" hidden="true"></embed>
    </td>
    </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td height="650" align="center" valign="middle"><img src="{% static 'images/chenbao.jpg' %}" width="600"></td>
    <td valign="middle" style="font-size:16px;font-family:'SimHei'" width="50%">
      <p>当我年轻的时候，我的想象漫无边际...</p>
      <p>现在，我已行将就木，就在生命将要完结的时候，我突然意识到:如果一开始我就首先改变自己。</p>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      本网站服务器架设于阿里云
    </td>
  </tr>
</table>
</body>
</html>
