<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 基本表单</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        $('#formadd').submit(function(){
                var name = $("#name").val();                 //获得form中用户输入的name 注意这里的id_name 与你html中的id一致
                var email = $("#email").val();    //同上
                var comment = $("#comment").val();

                $.ajax({
                    type:"POST",
                    data: {name:name, email:email, comment:comment},
                    url: "{% url 'app_1:comments_upload' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(result, statues, xml){
                        alert("感谢您的留言");                                         //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("false");
                    }
                });
                return false;
            });

        });
    </script>
</head>
<body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					请在此页留言 <small>作者将会给您回复</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			<form role="form" id='formadd'>
			{% csrf_token %}
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="email" />
				</div>
				<div class="form-group">
					 <label for="exampleInputName">Name</label><input type="name" class="form-control" id="name" />
				</div>
				<div class="form-group">
					 <label for="exampleInputContent">Content</label><textarea type="Content" class="form-control" id="comment"></textarea>
				</div>

				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>

</body>
</html>